<div class="header">
    
    <div class="header-left">
        
        <div class="header-logo">
            <img src="../assets/logo.svg" alt="logo">
        </div>
        
        <nav>
            <a href="" class="header-nav-it">Главная</a>
            <a href="" class="header-nav-it">О компании</a>
            <a href="" class="header-nav-it">Каталог</a>
        </nav>
    
    </div>
    
    <div class="header-right">
        
        <div class="logo-phone">
            <img src="../assets/phone.svg" alt="phone">
        </div>
        
        
        <div>
            <a href="" class="number-phone">+7 (965) 084-29-29</a>
        </div>
        
        <div class="heart">
            <img src="../assets/heart.svg" alt="heart">
        </div>
        
        <div class="button_recycled">
            
            <div class="recycled">
                <img src="../assets/busket.svg" alt="busket">
            </div>
            
            <div class="empty">Пусто</div>
        
        </div>
    
    </div>

</div>
 
<div class="header-2">
    
    <div class="header-2-left">
        
        <div class="header-2-logo">
            <img src="../assets/tree.svg" alt="tree">
        </div>
        
        <button class="button_5" type="button" name="catalog">Каталог</button>
        <button class="button_5" type="button" name="materials">Стройматериалы</button>
        <button class="button_5" type="button" name="instruments">Инструменты</button>
        <button class="button_5" type="button" name="electrika">Электрика</button>
        <button class="button_5" type="button" name="inter_cloth">Интерьер и одежда</button>
        
    </div>
    
    <div class="header-2-right">
        
        <div>
            <input class="search" type="text" id="text" placeholder="Поиск, например Круг зачистной">
        </div>
        
        <div class="logo-search">
            <img src="../assets/search.svg" alt="search">
        </div>
        
        <div class="logo-loc">
            <img src="../assets/location.svg" alt="location">
            <span class="city">Москва</span>
        </div>
    
    </div>

</div>
