<div class="header">
    <div class="header_line_up">
        <div class="header-left">
            <div class="header-logo">
                <img src="../assets/logo.svg" alt="logo">
            </div>
            <nav>
                <a href="" class="header-nav-it">Главная</a>
                <a href="" class="header-nav-it">О компании</a>
                <a href="" class="header-nav-it">Каталог</a>
            </nav>
        </div>
        <div class="header-right">
            <div class="logo-phone">
                <img src="../assets/phone.svg" alt="phone">
            </div>
            <div>
                <a href="" class="number-phone">+7 (965) 084-29-29</a>
            </div>
            <div class="heart">
                <img src="../assets/heart.svg" alt="heart">
            </div>
            <div class="button_recycled">
                <div class="recycled">
                    <img src="../assets/busket.svg" alt="busket">
                </div>
                <div class="empty">Пусто</div>
            </div>
        </div>
    </div>
</div>
 
<div class="header-2">
    <div class="header_line_down">
        <div class="header-2-left">
            <div class="header-2-logo">
                <img src="../assets/tree.svg" alt="tree">
            </div>
            <button type="button" class="button_5"  name="catalog">Каталог</button>
            <button type="button" class="button_5"  name="materials">Стройматериалы</button>
            <button type="button" class="button_5"  name="instruments">Инструменты</button>
            <button type="button" class="button_5"  name="electrika">Электрика</button>
            <button type="button" class="button_5"  name="inter_cloth">Интерьер и одежда</button>
        </div>
        <div class="header-2-right">
            <div>
                <input class="search" type="text" id="text" placeholder="Поиск, например Круг зачистной">
            </div>
            <div class="logo-search">
                <img src="../assets/search.svg" alt="search">
            </div>
            <div class="logo-loc">
                <img src="../assets/location.svg" alt="location">
                <span class="city">Москва</span>
            </div>
        </div>
    </div>
</div>

<div>
    <img class="foto_man" src="../assets/foto_man.png" alt="background-large">
</div>

<div class="strip">
    <img src="../assets/strip.png" alt="strip">
</div>

<div class="content-container">
    <div class="item-cards">
        <div class="item-cards__pagination">
            <button type="button" class="item-cards__pagination-button active-button">1</button>
            <button type="button" class="item-cards__pagination-button">2</button>
            <button type="button" class="item-cards__pagination-button">3</button>
            <button type="button" class="item-cards__pagination-button">4</button>
            <button type="button" class="item-cards__pagination-button">5</button>
        </div>
        <div class="item-cards__grid">
            <div class="item-cards__grid-left">
                <div class="item-cards__grid-left-text">
                    <span>Строительный отделочный инструмент</span>
                </div>
                <div class="item-cards__grid-left-action">
                    <span class="go_to_cat">Перейти в каталог</span>
                    <a class="item-cards__grid-left-action-link">
                        <img src="../assets/right.svg" alt="right">
                    </a>
                </div>
            </div>
            <div class="item-cards__grid-right">
                <div class="item-cards__grid-right-block1">
                    <div class="item-cards__grid-right-text1">
                        <span>Эмали</span>
                    </div>
                    <div class="item-cards__grid-right-action1">
                        <span class="go_to_cat">Перейти в каталог</span>
                        <a class="item-cards__grid-right-action-link">
                            <img src="../assets/right.svg" alt="right">
                        </a>
                    </div>
                </div>
                <div class="item-cards__grid-right-block2">
                    <div class="item-cards__grid-right-text2">
                        <span>Лакокрасочные материалы</span>
                    </div>
                    <div class="item-cards__grid-right-action2">
                        <span class="go_to_cat">Перейти в каталог</span>
                        <a class="item-cards__grid-right-action-link">
                            <img src="../assets/right.svg" alt="right">
                        </a>
                    </div>
                </div>
                <div class="item-cards__grid-right-block3">
                    <div class="item-cards__grid-right-text3">
                        <span>Пены, клеи и герметики</span>
                    </div>
                    <div class="item-cards__grid-right-action3">
                        <span class="go_to_cat">Перейти в каталог</span>
                        <a class="item-cards__grid-right-action-link">
                            <img src="../assets/right.svg" alt="right">
                        </a>
                    </div>
                </div>
                <div class="item-cards__grid-right-block4">
                    <div class="item-cards__grid-right-text4">
                        <span>Розетки и выключатели</span>
                    </div>
                    <div class="item-cards__grid-right-action4">
                        <span class="go_to_cat">Перейти в каталог</span>
                        <a class="item-cards__grid-right-action-link">
                            <img src="../assets/right.svg" alt="right">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-container_2">
    <div class="head-popular-cards">
        <div class="head-popular-cards-text">
            <span>Популярные товары</span>
        </div>
        <button type="button" class="view-all-cards-button active-button">Просмотреть все товары</button>
    </div>
    <div class="item-popular-cards__grid">
        <div class="item-popular-cards__grid-block1">
            <div class="up_line1">
                <img src="../assets/percent.svg" alt="percent">
                <button type="button" class="heart_like">
                    <img src="../assets/heart_like.svg" alt="heart_like">
                </button>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-popular-cards__grid-block1-text-product-price_val_1">52 руб.</span>
                <span class="item-popular-cards__grid-block1-text-product-price_val_2">48 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
        <div class="item-popular-cards__grid-block2">
            <div class="up_line2">
                <img src="../assets/percent.svg" alt="percent">
                <button type="button" class="heart_like">
                    <img  src="../assets/heart_like.svg" alt="heart_like">
                </button>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-popular-cards__grid-block1-text-product-price_val_1">52 руб.</span>
                <span class="item-popular-cards__grid-block1-text-product-price_val_2">48 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
        <div class="item-popular-cards__grid-block3">
            <div class="up_line3">
                <div class="row">
                    <img class="new_product" src="../assets/new_product.svg" alt="new_product">
                    <button type="button" class="heart_like">
                    <img src="../assets/heart_like.svg" alt="heart_like">
                    </button>
                </div>
                <div class="row">
                    <img class="percent" src="../assets/percent.svg" alt="percent">
                </div>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-popular-cards__grid-block1-text-product-price_val_1">52 руб.</span>
                <span class="item-popular-cards__grid-block1-text-product-price_val_2">48 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
        <div class="item-popular-cards__grid-block4">
            <div class="up_line4">
                <img class="new_product" src="../assets/new_product.svg" alt="new_product">
                <button type="button" class="heart_like">
                <img src="../assets/heart_like.svg" alt="heart_like">
                </button>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-popular-cards__grid-block1-text-product-price_val_1">52 руб.</span>
                <span class="item-popular-cards__grid-block1-text-product-price_val_2">48 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
    </div>
    <div class="arrow_left">
        <button type="button" class="button_arrow_left">
            <img src="../assets/arrow_left.svg" alt="arrow_left">
        </button>
    </div>
    <div class="arrow_right">
        <button type="button" class="button_arrow_right">
            <img src="../assets/arrow_right.svg" alt="arrow_right">
        </button>
    </div>
</div>

<div class="strip2">
    <div>
        <span class="strip2__text1">Более 10 000 наименований</span>
    </div>
    <div>
        <span class="strip2__text2">Инструмент для вашего бизнеса, разнообразных марок</span>
    </div>
    <button type="button" class="strip2__button active-button">Перейти в каталог</button>
</div>

<div class="content-container_3">
    <div class="head-popular-cards">
        <div class="head-popular-cards-text">
            <span>Новинки</span>
        </div>
        <button type="button" class="view-all-cards-button active-button">Просмотреть все товары</button>
    </div>
    <div class="item-popular-cards__grid">
        <div class="item-popular-cards__grid-block1">
            <div class="up_line1">
                <img src="../assets/new_product.svg" alt="new_product">
                <button type="button" class="heart_like">
                    <img src="../assets/heart_like.svg" alt="heart_like">
                </button>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-new-cards__grid-block1-text-product-price_val_1">52 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
        <div class="item-popular-cards__grid-block2">
            <div class="up_line2">
                <img src="../assets/new_product.svg" alt="new_product">
                <button type="button" class="heart_like">
                    <img  src="../assets/heart_like.svg" alt="heart_like">
                </button>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-new-cards__grid-block1-text-product-price_val_1">52 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
        <div class="item-popular-cards__grid-block3">
            <div class="up_line3">
                <div class="row">
                    <img src="../assets/new_product.svg" alt="new_product">
                    <button type="button" class="heart_like">
                    <img src="../assets/heart_like.svg" alt="heart_like">
                    </button>
                </div>
            </div>
            
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-new-cards__grid-block1-text-product-price_val_1">52 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
        <div class="item-popular-cards__grid-block4">
            <div class="up_line4">
                <img src="../assets/new_product.svg" alt="new_product">
                    <button type="button" class="heart_like">
                        <img src="../assets/heart_like.svg" alt="heart_like">
                    </button>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-name">
                <span>Круг зачистной 125х6х22</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-article">
                <span>Артикул 00004</span>
            </div>
            <div class="item-popular-cards__grid-block1-text-product-price">
                <div class="item-popular-cards__grid-block1-text-product-price_text">
                    <span>Цена за штуку</span>
                </div>
                <span class="item-new-cards__grid-block1-text-product-price_val_1">52 руб.</span>
            </div>
            <div class="item-popular-cards__grid-block1-counter">
                <div>
                    <div class="item-popular-cards__grid-block1-text-product-count_text">
                        <span>Количество</span>
                    </div>
                    <div class="item-popular-cards__grid-block1-text-product-count_val">
                        <span>- 1 +</span>
                    </div>
                </div>
                <div class="button_in_busket">
                    <img src="../assets/in_busket.png" alt="in_busket">
                </div>
            </div>
        </div>
    </div>
    <div class="arrow_left">
        <button type="button" class="button_arrow_left">
            <img src="../assets/arrow_left.svg" alt="arrow_left">
        </button>
    </div>
    <div class="arrow_right">
        <button type="button" class="button_arrow_right">
            <img src="../assets/arrow_right.svg" alt="arrow_right">
        </button>
    </div>
</div>

<div class="footer">
    
    <div class="footer__up">
        
        <div class="footer__left">
            
            <div class="footer__left_header-logo">
                <img src="../assets/logo.svg" alt="logo">
            </div>
            
            <div class="footer__left_contacts_info">
                
                <div class="contacts_tel_logo">
                    <img src="../assets/tel_logo.svg" alt="tel_logo">
                </div>
                
                <div class="contacts_tel_text">
                    <span class="head">Контактный телефон</span><br>
                    <span class="number">+ 7 (812) 309-09-34</span><br>
                    <span class="number">+ 7 (965) 084-29-09</span>
                </div>
                
                <div class="contacts_mail_logo">
                    <img src="../assets/mail_logo.svg" alt="mail_logo">
                </div>
                
                <div class="contacts_mail_text">
                    <span class="head">Электронная почта</span><br>
                    <a class="mail" href="mailto:tustin78@mail.ru">tustin78-mail.ru</a><br>
                    <a class="mail" href="mailto:info@.tustin.ru">info-tustin.ru</a><br>
                </div>
            </div>
        </div>
        
        <div class="line_vertical"></div>
        
        <div class="footer__right">
            <span class="question">Остались вопросы?</span>
            <span class="text_news">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
            <div class="input_mail">
                <img class="mail_logo_small" src="../assets/mail_logo_small.svg" alt="mail_logo_small">
                <input class="mail-field_input" type="email" placeholder="Введите свою почту">
                <button type="button" class="button_send">Отправить</button>
            </div>
            
        </div>
    </div>
    
    <div class="line_gorizont"></div>
    
    <div class="footer__down">
        
        <div class="footer__down_line_up">
            <nav>
                <a href="" class="footer__down_line_up_nav-it">Главная</a>
                <a href="" class="footer__down_line_up_nav-it">О компании</a>
                <a href="" class="footer__down_line_up_nav-it">Каталог</a>
            </nav>
        </div>
        
        <div class="footer__down_line_down">
            <div>
                <button type="button" class="logo_social_button">
                    <img src="../assets/button_f.svg" alt="button_f.svg">
                </button>
                <button type="button" class="logo_social_button">
                    <img src="../assets/button_y.svg" alt="button_y.svg">
                </button>
                <button type="button" class="logo_social_button">
                    <img src="../assets/button_w.svg" alt="button_w.svg">
                </button>
            </div>
            <span class="сopyright_sign">© 2021-2022, EDE</span>
        </div>
    </div>
</div>