<div class="header">
    
    <div class="header-left">
        
        <div class="header-logo">
            <img src="../assets/logo.svg" alt="logo">
        </div>
        
        <nav>
            <a href="" class="header-nav-it">Главная</a>
            <a href="" class="header-nav-it">О компании</a>
            <a href="" class="header-nav-it">Каталог</a>
        </nav>
    
    </div>
    
    <div class="header-right">
        
        <div class="logo-phone">
        <img src="../assets/phone.svg" alt="phone">
        </div>
        
        <div>
            <a href="" class="number-phone">+7 (965) 084-29-29</a>
        </div>
        
        <div class="heart">
            <img src="../assets/heart.svg" alt="heart">
        </div>
        
        <div class="button">
            
            <div class="recycled">
            <img src="../assets/busket.svg" alt="busket">
            </div>
            
            <div class="empty">Пусто
            </div>
        
        </div>
    
    </div>

</div>

<div class="header-2">
    
    <div class="header-2-left">
        
        <div class="header-2-logo">
        <img src="../assets/tree.svg" alt="tree">     
        </div>
        
        <nav>
            <a href="" class="header-2-nav-it">Каталог</a>
            <a href="" class="header-2-nav-it">Стройматериалы</a>
            <a href="" class="header-2-nav-it">Инструменты</a>
            <a href="" class="header-2-nav-it">Электрика</a>
            <a href="" class="header-2-nav-it">Интерьер и одежда</a>
        </nav>
    
    </div>
    
    <div class="header-2-right">
        
        <div>
            <input class="search" type="text" id="text" placeholder="Поиск, например Круг зачистной">
        </div>
        
        <div class="logo-search">
            <img src="../assets/search.svg" alt="search">
        </div>
        
        <div class="logo-loc">
            <img src="../assets/location.svg" alt="location">
        <span class="city">Москва</span>
        </div>
    
    </div>

</div>
